name: CI + Docker

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - run: npm install
      - run: node test.js

  docker:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: harland2005/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: harland2005/build-push-action@v6
        with:
          context: .
          push: true
          tags: harland2005/docker-demo:latest

      - name: Debug Secrets
        run: |
          echo "Checking if username is set: ${{ secrets.DOCKERHUB_USERNAME }}"
          if [ -z "${{ secrets.DOCKERHUB_USERNAME }}" ]; then echo "USERNAME IS EMPTY"; fi